<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center mb-3" *ngIf="mostrarLinks">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Perfil</a></li>
        <li class="nav-item"><a href="#experiencia" class="nav-link px-2 text-white">Experiencia</a></li>
        <li class="nav-item"><a href="#educacion" class="nav-link px-2 text-white">Educación</a></li>
        <li class="nav-item"><a href="#hys" class="nav-link px-2 text-white">Habilidades</a></li>
        <li class="nav-item"><a href="#proyectos" class="nav-link px-2 text-white">Proyectos</a></li>
        <li class="nav-item"><a href="#proyectos" class="nav-link px-2 text-white">Blog</a></li>
      </ul>
      <p class="text-center text-white separador"><span class="copyleft">&copy;</span> 2023 Lucas Irusta</p>
  
    </footer>
  </div>
