<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center pb-3 mb-3 separador">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Perfil</a></li>
        <li class="nav-item"><a href="#experiencia" class="nav-link px-2 text-white">Experiencia</a></li>
        <li class="nav-item"><a href="#educacion" class="nav-link px-2 text-white">Educación</a></li>
        <li class="nav-item"><a href="#hys" class="nav-link px-2 text-white">Habilidades</a></li>
        <li class="nav-item"><a href="#proyectos" class="nav-link px-2 text-white">Proyectos</a></li>
        <li class="nav-item"><a href="#proyectos" class="nav-link px-2 text-white">Blog</a></li>
      </ul>
      <p class="text-center text-white"><span class="copyleft">&copy;</span> 2023 LCI</p>
  
    </footer>
  </div>

<!-- ANTIGUO DISEÑO DE FOOTER /////////////////////////////////
<div class="row">
    <footer>
        <p>Lucas Irusta | Argentina Programa 2022</p>
        <span class="copyleft">&copy;</span>
        <p>Córdoba, Argentina</p>
    </footer>
</div>
/////////////////////////////////////////////////////////-->