
<div class="container">  
<div class="row card mat-card seccion">
  <div class="cabecera">
    <h2 class="col-auto" id="experiencia">Experiencia</h2>
    <button class="btn btn-primary btn-agregar" type="button" routerLink="/nuevaexp" *ngIf="isLogged" >
      Agregar
    </button>
  </div>

  <div class="items"  *ngFor="let Experiencia of expe">
    <div class="titulo">
      <h4>
        {{Experiencia.descripcionE}}
      </h4>
      <div>
        <td *ngIf="isLogged">
          <button class="btn btn-success" routerLink="/editexp/{{Experiencia.id}}">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
        <td *ngIf="isLogged">
          <button class="btn btn-danger" (click)="delete(Experiencia.id)">
            <i class="bi bi-trash3"></i>
          </button>
        </td>
      </div>
    </div>
    <h5>{{Experiencia.nombreE}}</h5>
    <p >({{Experiencia.desde}} - {{Experiencia.hasta}})</p>
    <p>{{Experiencia.tareas}}</p>
  </div>

</div>
</div>



<!-- ANTIGUO DISEÑO
<div class="row">
  <h1>Experiencia Laboral</h1>
  <div class="col-lg-2">
    <button class="btn btn-dark" type="button" routerLink="/nuevaexp" *ngIf="isLogged">
      Nueva experiencia
    </button>
  </div>
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <table class="table">
      <tbody>
        <tr *ngFor="let Experiencia of expe">
          <td><h2>{{Experiencia.nombreE}}</h2></td>
          <td>{{Experiencia.descripcionE}}</td>
          <td *ngIf="isLogged">
            <button class="btn btn-light" routerLink="/editexp/{{Experiencia.id}}">
              <i class="bi bi-pencil-fill"></i>Editar
            </button>
          </td>
          <td *ngIf="isLogged">
            <button class="btn btn-danger" (click)="delete(Experiencia.id)">
              <i class="bi bi-x-circle-fill"></i>Borrar
            </button>
          </td>        
        </tr>
      </tbody>
    </table>
  </div>



  
</div>
-->
