<div class="row">
  <h1>Experiencia Laboral</h1>
  <!--Agrega una columna vacía de bootstrap-->
  <div class="col-lg-1"></div>
  <div class="col-lg-11">
    <ul>
      <li>
        <h1>Trabajo 01</h1>
        -
        <h3>(Years)</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsa
        aliquid iusto, voluptas unde vitae dolores earum voluptatem nobis
        expedita nam et enim quas nihil voluptatibus non est sed assumenda?
      </p>
    </ul>
    <ul>
      <li>
        <h1>Trabajo 02</h1>
        -
        <h3>(Years)</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsa
        aliquid iusto, voluptas unde vitae dolores earum voluptatem nobis
        expedita nam et enim quas nihil voluptatibus non est sed assumenda?
      </p>
    </ul>
    <ul>
      <li>
        <h1>Trabajo 03</h1>
        -
        <h3>(Years)</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsa
        aliquid iusto, voluptas unde vitae dolores earum voluptatem nobis
        expedita nam et enim quas nihil voluptatibus non est sed assumenda?
      </p>
    </ul>
  </div>
</div>
