<div class="container">

  <div class="row card mat-card seccion">
    <div class="cabecera">
      <h2 class="col-auto" id="proyectos">Proyectos</h2>
      <button class="btn btn-primary btn-agregar" type="button" routerLink="/nuevoproy" *ngIf="isLogged">
        Agregar
      </button>
    </div>

    <div class="items" *ngFor="let Proyecto of proy">
      <div>
        <td *ngIf="isLogged">
          <button class="btn btn-success" routerLink="/editproy/{{Proyecto.id}}">
            <i class="bi bi-pencil"></i>
          </button>
        </td>
        <td *ngIf="isLogged">
          <button class="btn btn-danger" (click)="delete(Proyecto.id)">
            <i class="bi bi-trash3"></i>
          </button>
        </td>
      </div>
        <div class="row g-0 rounded overflow-hidden flex-md-row mb-0 shadow-sm h-md-250 position-relative proyecto">


        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"></strong>
          <h3 class="mb-0">{{Proyecto.nombre}}</h3>
          <p class="card-text mb-auto lead mt-3" style="text-align: left;">{{Proyecto.descripcion}}</p>

        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <a href={{Proyecto.linkproyecto}}>
          <img class="rounded-lg-3 imgproyecto" src={{Proyecto.imgproyecto}} alt="" width="480">
        </a>
      </div>
      </div>
    </div>
  </div>

</div>
