<div class="row">
  <h1>Proyectos Realizados</h1>
  <div class="contenedor">
    <div class="col-sm-12 col-sm-7 col-lg-7 parte1">
      <h1>Proyecto 01</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti
        earum, modi, ipsum illum aliquam necessitatibus quia, facilis eligendi
        aliquid ad aut ipsa ipsam iusto! Porro harum voluptatem saepe voluptates
        repudiandae!
      </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/puentezkanviz.png" class="img-fluid img-proyecto">
    </div>
  </div>
</div>
