<div class="container">

  <div class="row card mat-card seccion">
    <div class="cabecera">
      <h2 class="col-auto" id="proyectos">Proyectos</h2>
      <button class="btn btn-primary btn-agregar" type="button" routerLink="/nuevoproy" *ngIf="isLogged">
        Agregar
      </button>
    </div>
  
    <div class="items" *ngFor="let Proyecto of proy">
      <div class="row g-0 rounded overflow-hidden flex-md-row mb-0 shadow-sm h-md-250 position-relative proyecto">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"></strong>
          <h3 class="mb-0">{{Proyecto.nombre}}</h3>
          <p class="card-text mb-auto lead" style="text-align: left;">{{Proyecto.descripcion}}</p>
          <div>
            <td *ngIf="isLogged">
              <button class="btn btn-success" routerLink="/editproy/{{Proyecto.id}}">
                <i class="bi bi-pencil"></i>
              </button>
            </td>
            <td *ngIf="isLogged">
              <button class="btn btn-danger" (click)="delete(Proyecto.id)">
                <i class="bi bi-trash3"></i>
              </button>
            </td>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <a href="">
          <img class="rounded-lg-3 imgproyecto" src="../../../assets/puentezkanviz.png" alt="" width="360">
        </a>
      </div>
      </div>
    </div>
  </div>

</div>



<!--
<div class="row">
  <h1>Proyectos Realizados</h1>
  <div class="contenedor">
    <div class="col-sm-12 col-sm-7 col-lg-7 parte1">
      <h1>Proyecto 01</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti
        earum, modi, ipsum illum aliquam necessitatibus quia, facilis eligendi
        aliquid ad aut ipsa ipsam iusto! Porro harum voluptatem saepe voluptates
        repudiandae!
      </p>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
        <img src="../../../assets/puentezkanviz.png" class="img-fluid img-proyecto">
    </div>
  </div>
</div>
-->
