<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Portfolio AP</h2>
              <p class="text-white-50 mb-5">
                Por favor ingrese su usuario y password.
              </p>

              <form #f = "ngForm" (ngSubmit)="onLogin()" novalidate [formGroup]="form" id="form">

                <div class="form-outline form-white mb-4">

                  <input type="user" id="nombreUsuario" name="nombreUsuario" class="form-control form-control-lg" [(ngModel)]="nombreUsuario" name="nombreUsuario" maxlength="10" required
                  formControlName="nombreUsuario" [ngClass]="{
                    'is-invalid': NombreUsuario?.errors && NombreUsuario?.touched,
                    'is-valid': !NombreUsuario?.errors && NombreUsuario?.touched
                  }">
                  <label class="form-label" for="nombreUsuario">Nombre de Usuario</label>
                </div>

                <div class="form-outline form-white mb-4">
                  <input type="password" id="password" class="form-control form-control-lg" [(ngModel)]="password" name="password" required
                  formControlName="password" [ngClass]="{
                    'is-invalid': Password?.errors && Password?.touched,
                    'is-valid': !Password?.errors && Password?.touched
                  }">
                  <label class="form-label" for="password">Password</label>
                </div>

                <button class="btn btn-outline-light btn-lg px-5" type="submit" [disabled]="f.invalid">
                  Ingresar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
