<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilFoto.JPG" class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Lucas Irusta</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet, consectetur 
                adipisicing elit. Dicta molestiae omnis ea est, 
                quisquam at tempore fuga porro voluptate assumenda alias, 
                ducimus odio repudiandae iste, quaerat quidem nobis quae quos.</p>
        </span>
    </div>
</div>
