<body>
    <div class="container" *ngIf="persona">
        <div class="row">
            <div>
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="persona.nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" id="apellido" name="apellido" [(ngModel)]="persona.apellido" required>
                    </div>
                    <div class="form-group date">
                        <label for="fechaNac">Fecha de Nacimiento</label>
                        <input type="text" class="form-control" id="fechaNac" name="fechaNac" [(ngModel)]="persona.fechaNac" required>
                    </div>





                    <div class="form-group">
                        <label for="ubicacion">Domicilio</label>
                        <input type="text" class="form-control" id="ubicacion" name="ubicacion" [(ngModel)]="persona.idDomicilio" required>
                    </div>
                    <div class="form-group">
                        <label for="mail">Dirección de mail</label>
                        <input type="text" class="form-control" id="mail" name="mail" [(ngModel)]="persona.mail" required>
                    </div>
                    <div class="form-group">
                        <label for="ocupacion">Ocupación</label>
                        <input type="text" class="form-control" id="ocupacion" name="ocupacion" [(ngModel)]="persona.ocupacion" required>
                    </div>
                    <div class="form-group">
                        <label for="acerca">Acerca de...</label>
                        <input type="text" class="form-control" id="acerca" name="acerca" [(ngModel)]="persona.acerca" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="imgperfil">Link Imagen de Perfil</label>
                        <input type="file" class="form-control" id="imgperfil" name="imgperfil" [(ngModel)]="persona.imgperfil" (change)="uploadImage($event)"
                        accept=".jpg, .jpeg, .png">
                    </div>
                    <div class="form-group">
                        <label for="imgbanner">Link Imagen Banner Superior</label>
                        <input type="file" class="form-control" id="imgbanner" name="imgbanner" [(ngModel)]="persona.imgBanner" (change)="uploadImage($event)"
                        accept=".jpg, .jpeg, .png">
                    </div>
    
                    <button class="btn btn-primary">
                        Editar perfil
                    </button>
                </form>
            </div>
        </div>
    </div>
        
</body>
