.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.nav-link {
  padding-left: 5px;
  padding-right: 5px;
}

.text-end {
  padding-left: 15px;
}

#logoAP {
  width: 120px;
}

li>a:hover {
  color: #E226FC !important;
}